/* components/WhatsAppIcon.module.css */
.whatsappIcon {
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 1000;
    transform: scale(1); /* Initial scale */
  transition: transform 1s ease-in-out; 
}
.whatsappIcon:hover {
  transform: scale(1.2);
}

.whatsappIcon a {
  text-decoration: none;
  color: inherit;
}